@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --bg-custom: #F6F8FD;
  --text-main: #828CAE;
  --text-bold: #6A759B;
  --text-para: #5C6BFF;
}

.dark {
  --bg-custom: #0B0F19; /* Deep Dark Navy */
  --text-main: #CBD5E1; 
  --text-bold: #FFFFFF;
  --text-para: #94A3B8;
}

@theme inline {
  --color-background-custom: var(--bg-custom);
  --color-text-main: var(--text-main);
  --color-text-bold: var(--text-bold);
  --color-text-para: var(--text-para);
}

body {
  background-color: var(--bg-custom) !important;
  transition: background-color 0.4s ease;
}